/* Image CSS */

/* Navigation CSS */
.navigation-style {
  min-height: 100vh;
  background-color: #00bfa5;
  border-radius: 0 !important;
}

.navigation-item {
  color: white !important;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}

.navigation-item a:hover {
  color: black;
  background-color: #a7ffeb !important;
  cursor: pointer;
}

.navigation-item-selected {
  color: black;
  background-color: #a7ffeb;
  font-size: 16px;
  cursor: pointer;
}

.navigation-item-selected:hover {
  color: black;
}

@media (max-width: 575.98px) {
  #navigation-item {
    padding: 5px 0px !important;
  }
}

/* Header CSS */
.header-style {
  min-height: 100vh;
  background-color: #00bfa5;
}

/* Product Card CSS */
.card {
  border: 2px solid #00bfa5;
}

.card:hover {
  transition: 300ms ease;
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  transform: scale(1.04);
}

/* Cart CSS */
.cart-style {
  overflow-y: scroll;
  max-height: 400px;
  border: 2px solid #00bfa5;
}

@media (max-width: 575.98px) {
  #navigation-item {
    max-height: 300px !important;
  }
}
